#textdomain Middle_Ages-units
[unit_type]
    id=MA_Arab_Spearman
    name= _ "Spearman"
    race=MA_Arab
    image="units/Arab/MA_Arab_Spearman.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=44
    movement_type=smallfoot
    movement=5
    [resistance]
        pierce=80
        blade=100
        impact=80
    [/resistance]
    [movement_costs]

        sand=1

    [/movement_costs]

    [defense]
     	sand=60

    [/defense]

    experience=42
    level=1
    alignment=lawful
    advances_to=MA_Arab_Royal_Spearman
    cost=17
    usage=fighter
    description= _ "Arab Spearmen are some of the strongest infantry in the arab armies.  This arose out of the arabic emphasis on cavalry, and the need to counter that threat."+{SPECIAL_NOTES}+{SPECIAL_NOTES_FIRSTSTRIKE}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/Arab/MA_Arab_Spearman.png" "units/Arab/MA_Arab_Spearman.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=spear
        description=_"spear"
        type=pierce
        range=melee
        damage=8
        number=3
        icon=attacks/spear.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/Arab/MA_Arab_Spearman.png"
        [/frame]
        [frame]
            begin=-150
            end=-50
            image="units/Arab/MA_Arab_Spearman.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-50
                end=100
                image="units/Arab/MA_Arab_Spearman.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-50
                end=100
                image="units/Arab/MA_Arab_Spearman.png"
                sound=spear-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=100
            end=150
            image="units/Arab/MA_Arab_Spearman.png"
        [/frame]
    [/attack_anim]
[/unit_type]
